<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQL2kDBML.Properties.Settings.lonestarConnectionString"
            connectionString="Data Source=10.0.5.11;Initial Catalog=lonestar;Persist Security Info=True;User ID=L5development;Password=L5SQLCool"
            providerName="System.Data.SqlClient" />
        <add name="SQL2kDBML.Properties.Settings.LsoCoreTestConnectionString"
            connectionString="Data Source=10.0.5.14;Initial Catalog=LsoCoreTest;User ID=L5development;Password=L5SQLCool"
            providerName="System.Data.SqlClient" />
        <add name="SQL2kDBML.Properties.Settings.LsoCoreTestOpsConnectionString"
            connectionString="Data Source=10.0.5.14;Initial Catalog=LsoCoreTestOps;User ID=L5development;Password=L5SQLCool"
            providerName="System.Data.SqlClient" />
        <add name="SQL2kDBML.Properties.Settings.LsoCoreTestOpsConnectionString1"
            connectionString="Data Source=10.0.5.14;Initial Catalog=LsoCoreTestOps;Persist Security Info=True;User ID=L5development;Password=L5SQLCool"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>