<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lso.Core.Properties.Settings.LsoCoreTestConnectionString"
            connectionString="Data Source=10.0.5.14;Initial Catalog=LsoCoreTest;Persist Security Info=True;User ID=L5development;Password=L5SQLCool"
            providerName="System.Data.SqlClient" />
        <add name="Lso.Core.Properties.Settings.LsoCoreTestOpsConnectionString"
            connectionString="Data Source=10.0.5.14;Initial Catalog=LsoCoreTestOps;Persist Security Info=True;User ID=L5development;Password=L5SQLCool" />
        <add name="Lso.Core.LsoCoreSettings.WebDBConnString" connectionString="Data Source=10.0.5.14;Initial Catalog=LsoCoreTest;Persist Security Info=True;User ID=L5development;Password=L5SQLCool" />
        <add name="Lso.Core.LsoCoreSettings.OpsDBConnString" connectionString="Data Source=10.0.5.14;Initial Catalog=LsoCoreTestOps;Persist Security Info=True;User ID=L5development;Password=L5SQLCool" />
    </connectionStrings>
</configuration>